@model myschooldbapplication.Models.ViewModel.FeeTermModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function AddTerm(termno) {
      

        $("#result")
            .append($('<tr>')
                .append($('<th>')
                    .text('Term')
                )
                .append($('<th>').text("Term Amount"))
                .append($('<th>').text("Term Date"))
                .append($('<th>').text("Admission Year"))
        );
        
        for (i = 0; i < termno.value; i++) {
            $("#result")
                .append($('<tr></tr>', {id:'tr'+i})
                    .append($('<td></td>').append($("<input>", { type:"text"})))
                    .append($('<td></td>').append($("<input>", { name: "terms", type: "number" })))
                    .append($('<td></td>').append($("<input>", { type: "date" })))
                    .append($('<td></td>').append($("<input>", { type: "text" })))
                     );

        }
        $("#result")
            .append($('<tr></tr>')
                .append($('<td></td>', { colspan: '4', style: 'text-align:center' }).append($("<input>", { value: "Add", type: "button", onclick:"validatefee()" }))));
              
    }
    function validatefee() {
        totalfees = $("#FeeTypes_TotalFees").val();
        sum = 0;
        $("[name=terms]").each(function () {
            val = $(this).val();
            val = parseInt(val);
            sum =sum+val;

        });

        if (sum == totalfees) {
            /*    public string Term { get; set; }
              [JsonProperty]
          public int ? TermAmount { get; set; }
              [JsonProperty]
  
              [DataType(DataType.Date)]
          public DateTime ? TermDate { get; set; }
              [JsonProperty]
          public int ? AdYear { get; set; }
          */
            var termlist = [];
            termsrow = $("#result tr");

            for (var i = 1; i < termsrow.length-1; i++) {
                var col1 = $(termsrow[i]).find("td:eq(0) input:eq(0)").val();
                var col5 = $(termsrow[i]).find("td:eq(0) input:eq(1)").val();
                var col2 = $(termsrow[i]).find("td:eq(1) input").val();
                var col3 = $(termsrow[i]).find("td:eq(2) input").val();
                var col4 = $(termsrow[i]).find("td:eq(3) input").val();
                obj = { Term: col1, TermAmount: col2, TermDate: col3, AdYear: col4, AdTId:col5 };
                termlist.push(obj);
                alert(obj.Term + "  " + obj.TermAmount + "  " + obj.AdTId + "  " + obj.TermDate + "  " + obj.AdYear);
            }
            $("#AdTypeFees").val(JSON.stringify(termlist));
             $("#feeform").submit();
        }
        else {
            alert("Fee total do not match");
        }
    }

    
</script>

<div class="row">
    <div class="col-md-4">
        <form id="feeform" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <input type="hidden" asp-for="FeeTypes.FTId" />
            </div>
            <div class="form-group">
               
                <label asp-for="FeeTypes.Feetype1" class="control-label"></label>
                <input asp-for="FeeTypes.Feetype1" class="form-control" />
                <span asp-validation-for="FeeTypes.Feetype1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeeTypes.Feeyeartext" class="control-label"></label>
                <input asp-for="FeeTypes.Feeyeartext" class="form-control" />
                <span asp-validation-for="FeeTypes.Feeyeartext" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeeTypes.FeeYear" class="control-label"></label>
                <input asp-for="FeeTypes.FeeYear" class="form-control" />
                <span asp-validation-for="FeeTypes.FeeYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeeTypes.TotalFees" class="control-label"></label>
                <input asp-for="FeeTypes.TotalFees" class="form-control" />
                <span asp-validation-for="FeeTypes.TotalFees" class="text-danger"></span>
            </div>
            @*<div>
                <label class="contol-label">No of Terms</label>
                <input asp-for="Noofterms" class="form-control" />
            </div>*@
            <div>
               
                <input type="hidden" asp-for="AdTypeFees" />
            </div>
            @*<div class="form-group">
                <input type="button" onclick="AddTerm(Noofterms)" value="Create" class="btn btn-default" />
            </div>*@
            <table id="result">

                <tr>
                    <th>
                        Term
                    </th>

                    <th>
                        TermAmount

                    </th>
                    <th>Term Date</th>

                    <th>Admission Year</th>
                </tr>
                @{
                foreach(var res in Model.adtypes)
                    {
                   
                    <tr>

                        <td><input type="text" value="@res.Term" /> <input type="hidden" value="@res.AdTId" /></td>
                        <td><input type="number" name="terms" value="@res.TermAmount" /></td>
                        <td><input type="date" value="@res.TermDate.Value.ToString("yyyy-MM-dd")" /></td>
                        <td><input type="number" value="@res.AdYear" /></td>
                    </tr>
                    }

                }
                <tr>
                    <td colspan="4" style="text-align:center">
                        <input type="button" value="Add" onclick="validatefee()" />
                     </td>
                </tr>
            </table>
        </form>
    </div>
</div>


