@model myschooldbapplication.Models.AdTypeFee

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AdTypeFee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Term)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TermAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TermAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TermDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TermDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FTId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FTId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AdTId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
