@model IEnumerable<myschooldbapplication.Models.AdTypeFee>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FTId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TermAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TermDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FTId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdTId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdTId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdTId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
