@model myschooldbapplication.Models.ViewModel.EnrollModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(
            function () {
               // var yValue = "@ViewBag.domdata";
                //newvalue = eval(yValue);

                yValue = $("#divdata").val();

              //  yValue = yValue.replace('&gt;', '>');
              //  alert(yValue);
//$xml= str_replace(['&lt;','&gt;'],['<','>'], $xmlFile);

  //           yValue=   eval('(' + yValue + ')')
                //alert(newvalue);
                //console.log(yValue);
                //var parser = new DOMParser()
                //var el = parser.parseFromString(yValue, "text/html");
                //yValue = "'" (yValue) + "'";
                document.getElementById("result").innerHTML = yValue;
                arr = document.getElementById("paystatusid").value.split(",");
                for (var i = 0; i < arr.length; i++) {
                    arr1 = arr[i].split(".");

                    $("#chk" + arr1[0]).prop("checked", true);
                    $("#dt" + arr1[0]).val(arr1[1]);
                    $("#mod" + arr1[0]).val(arr1[2]);

                    
                    if (arr1[2] == 2) {
                        $("#chqno" + arr1[0]).val(arr1[3]);
                        $("#chqdt" + arr1[0]).val(arr1[4]);
                        $("#bnkname" + arr1[0]).val(arr1[5]);
                        $("#bnkbranch" + arr1[0]).val(arr1[6]);
                        //res.Pay_mode = "Cheque";
                        //res.Chequeno = modes[3].ToString();

                    }
                    //else if (modes[2].ToString() == "3") {
                    //    res.Pay_mode = "netbanking";
                    //    res.Transactionno = modes[3].ToString();
                    //}
                    alert(arr1[2]);
                }
             
            }
        );
    function getFTID() {
        var i = $("#FeeYear").val();
        var url = '@Url.Content("~/")' + "FeeTypes/GetFT";

        $.getJSON(url, { year: i }, function (data) {
            var ddltype = $("#FTId");
            var txt = "";
            txt += "<option>Please select one</option>"
            $.each(data, function (j, info) {

                txt += "<option value=" + info.ftId +">" + info.feetype1 +"</option>";

            });
            ddltype.html(txt);
        });
        }
        tdcount=1;
        function selectedoption(value, val1) {

            firstrow = document.getElementById("First");
            row = document.getElementById("tr" + val1);
            elements = document.getElementsByName("newelement");
            headnew = document.getElementsByName("headnew");
            headlen = headnew.length;
            alert(headlen);
            for (var i = headlen-1; i >=0; i--) {
                firstrow.removeChild(headnew[i]);
            }
            alert(elements.length);
            var len = elements.length;
            
            for (i = len-1; i >=0; i--) {
                if (elements[i].parentNode.id == row.id) {
                    row.removeChild(elements[i]);
                }
            }
          
        
            if (value == 2) {
                $("<th></th>", { name:'headnew' }).appendTo("#First").text("Cheque No");
                $("<th></th>", { name: 'headnew' }).appendTo("#First").text("Cheque Date");
                $("<th></th>", { name: 'headnew' }).appendTo("#First").text("Bank Name");
                $("<th></th>", { name: 'headnew' }).appendTo("#First").text("Branch");
              //  firstrow.innerHTML += "<th name='headnew'>ChequeNo</th><th name='headnew'>Cheque Date</th>";
                $("<td></td>", { id: 'td1', name: 'newelement' }).appendTo("#tr" + val1);
                
                $("<input></input>", { type: 'text', id: 'chqno' + val1, onblur:"namevalidation('ChequeNo',this.value,chqno" + val1+")" }).appendTo("#tr" + val1 + " #td1");
                $("<span></span>", { id: "chq_spn" + val1, class: "text-danger" }).appendTo("#tr" + val1 + " #td1");
                $("<td></td>", { id:'td2', name:'newelement' }).appendTo("#tr" + val1);
                $("<input></input>", { type: 'date', id: 'chqdt' + val1, onblur: "namevalidation('ChequeDate',this.value,chqdt" + val1 + ")"}).appendTo("#tr"+val1+" #td2");
                $("<span></span>", { id: "chq_dt_spn" + val1, class: 'text-danger' }).appendTo("#tr" + val1 + " #td2");
                $("<td></td>", { id: 'td3', name: 'newelement' }).appendTo("#tr" + val1);
                $("<input></input>", { type: 'text',  id: 'bnkname' + val1, onblur: "namevalidation('Bank Name',this.value,bnkname" + val1 + ")" }).appendTo("#tr" + val1 + " #td3");
                $("<span></span>", { id: "spn_bnkname" + val1, class: 'text-danger' }).appendTo("#tr" + val1 + " #td3");

                $("<td></td>", { id: 'td4', name: 'newelement' }).appendTo("#tr" + val1);
                $("<input></input>", { type: 'text', id: 'bnkbranch' + val1, onblur: "namevalidation('Branch Name',this.value,bnkbranch" + val1 + ")" }).appendTo("#tr" + val1 + " #td4");
                $("<span></span>", { id: "spn_bnkbranch" + val1, class: 'text-danger' }).appendTo("#tr" + val1 + " #td4");


            //   row.innerHTML += "<td name='newelement' id=td1><input type='text' id='chqno" + val1 + "'/></td>";
              //  row.innerHTML += "<td name='newelement' id=td2><input type='text' id='chqdt" + val1 + "'/></td>";
            }
            else if (value == 3) {
                
                $("<td></td>", { id: 'td3', name: 'newelement' }).appendTo("#tr" + val1);

                $("<input></input>", { type: 'text', id: 'eno' + val1, onblur: "namevalidation('TransactionNumber',this.value,eno" + val1 + ")" }).appendTo("#tr"+val1+" #td3");
                $("<span></span>", { id: "spn_eno" + val1, class: 'text-danger' }).appendTo("#tr" + val1 + " #td3");
            }
           // document.getElementById("mod" + val1).options[value].selected = true;

        }
    function termselected()
    {
                
        var i = $("#FTId").val();
        var url = '@Url.Content("~/")' + "AdTypeFees/GetFee";

        $.getJSON(url, { id: i }, function (data) {
            var tab = '<table  class=table>';
            tab+='<tr id="First"><th>Scheduled Data</th><th>Term</th><th>Amount</th><th>Payment Status</th><th>PaymentDate</th><th>Payment Mode</th>'
          //  alert(data);
            //alert(data[0].termAmount);
            var sum = 0;
            
            $.each(data, function (j,info1) {
                tab += "<tr id='tr" + info1.adTId+"'>";
                tab += '<td>';
                tab += info1.termDate;
                tab += '</td>';
                tab += '<td>';
                tab += info1.term;
                tab += '</td>';
                tab += '<td>';
                tab += info1.termAmount;
                tab += '</td>';
            
                sum += info1.termAmount;
                tab += "<td><input  type='checkbox' name='info' id='chk" + info1.adTId + "' value='" + info1.adTId + "'></td>";
               // tab += "<td><input onchange='enableother(this.value)' type='checkbox' name='info' id='chk" + info1.adTId + "' value='" + info1.adTId + "'></td>";
                //tab += "<td><input disabled  type='date' id='dt" + info1.adTId + "'></td>";
                //tab +="<td><select disabled id='mod"+info1.adTId+"' onchange='return selectedoption(this.value,"+info1.adTId+")'><option value=0>select</option><option value='1'>Cash</option><option value='2'>Cheque No</option><option value='3'>ETransaction</option></select></td>"
                //tab += '</tr>';
                   
            });
            tab += '<tr><td>Total</td><td>' + sum + '</td></tr>';
            tab += '</table>';


            $("#result").html(tab);
                });


        }
        function enableother(value) {
            if (document.getElementById("chk" + value).checked) {
                document.getElementById("dt" + value).disabled = false;
                document.getElementById("mod" + value).disabled = false;

            }
            else {
                elements = document.getElementsByName("newelement");
                headnew = document.getElementsByName("headnew");
                headlen = headnew.length;
                row=  document.getElementById("tr" + value);
                alert(headlen);
                firstrow= document.getElementById("First");
                for (var i = headlen - 1; i >= 0; i--) {
                    firstrow.removeChild(headnew[i]);
                }
                alert(elements.length);
                var len = elements.length;

                for (i = len - 1; i >= 0; i--) {
                   
                    if (elements[i].parentNode.id == row.id) {
                        row.removeChild(elements[i]);
                    }
                    
                }
                document.getElementById("dt" + value).value = "";
                document.getElementById("mod" + value).selectedIndex = 0;
                document.getElementById("dt" + value).disabled = true;
                document.getElementById("mod" + value).disabled = true;
            }
        }
        function storecheck() {
            paidterms = "";
            paiddates = "";
            names = document.getElementsByName("info");
            paymode = "";
       
            if (names[0].checked == false) {
                alert("Please select atleast one payment");
                return false;
                
            }
            else {
                for (var i = 0; i < names.length; i++) {
                    if (names[i].checked) {

                        var parentid = (names[i].parentNode.parentNode.id);
                        var res = parentid.substr(2);
                        paymode +=res+".";
                      
                       
                        if (($("#" + parentid + " #dt" + res).val()) == "") {
                            
                            alert("Please enter date");
                            return false;
                        }
                        if ($("#" + parentid + " #mod" + res).val() == 0)
                        {
                            alert("Please select payment mode");
                            return false;
                        }
                        paymode += ($("#" + parentid + " #dt" + res).val()) + ".";
                        if ($("#" + parentid + " #mod" + res).val() == 1) {


                            paymode +=  $("#" + parentid + " #mod" + res).val()+",";

                        }
                        else if ($("#" + parentid + " #mod" + res).val() == 2) {
                            //alert($("#" + parentid + " #td1 #chqno"+res).val());
                            if ($("#" + parentid + " #td1 #chqno" + res).val()=="") {
                                alert("Please Enter Cheque no");
                                return false;
                            }
                            if ($("#" + parentid + " #td2 #chqdt" + res).val() == "") {
                                alert("Please Enter Cheque date");
                                return false;
                            }
                            if ($("#" + parentid + " #eno" + res).val()) {
                                alert("Please Enter Transaction no");
                                return false;
                            }
                            paymode +=   $("#" + parentid + " #mod" + res).val() + "." + $("#" + parentid + " #td1 #chqno"+res).val() + "." + $("#" + parentid + " #td2 #chqdt"+res).val() + ",";
                        }
                        else if ($("#" + parentid + " #mod" + res).val() == 3) {

                            paymode +=  $("#" + parentid + " #mod" + res).val() + "." + $("#" + parentid + " #eno" + res).val() + ",";
                        }

                    }
                }
                alert(paiddates);
                alert(paymode);
                document.getElementById("paystatusid").value = paymode;
                divdata = $("#result").html();
                $("#divdata").val(divdata);
                
                return true;
            }
           
            
        }
        function namevalidation(name, value, ctrl) {
            
            if (ctrl.type == "select-one") {
                if (ctrl.selectedIndex == 0) {

                    $("#" + ctrl.id).next().html(" Please select " + name);
                }
                else {
                    $("#" + ctrl.id).next().html("");
                }

            }
            else if (ctrl.type == "text" || ctrl.type == "date") {
                if (value == "") {

                    $("#" + ctrl.id).next().html(name + " field can not be blank");
                }
                else if (ctrl.id == "Dob")
                {
                    dt = new Date();
                    year = dt.getFullYear();
                    Milliseconds = Date.parse(value);
                    dt1 = new Date(Milliseconds);
                                 
                    if (dt1 >= dt) {
                        $("#" + ctrl.id).next().html(name + " Should be less than  two years from current date");
                    }
                    else {
                        $("#" + ctrl.id).next().html("");
                    }
                }
                else {
                    $("#" + ctrl.id).next().html("");
                }
            }
           
          
          
        }
       
       
    </script>
</head>
<body>

    <h4>EnrollModel</h4>
    <hr />
    <div>
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <input type="hidden" asp-for="paystatusid" />
                    <input type="hidden" asp-for="divdata" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group col-md-4">
                        <label asp-for="StName" class="control-label"></label>
                        <input asp-for="StName" onblur="namevalidation('Name',this.value,StName)" class="form-control" />
                        <span asp-validation-for="StName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Dob" class="control-label"></label>
                        <input asp-for="Dob" onblur="namevalidation('Date of Birth',this.value,Dob)" class="form-control" />
                        <span asp-validation-for="Dob" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="POB" class="control-label"></label>
                        <input asp-for="POB" onblur="namevalidation('Place of Birth',this.value,POB)" class="form-control" />
                        <span asp-validation-for="POB" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Nationality" class="control-label"></label>
                        <input asp-for="Nationality" onblur="namevalidation('Nationality',this.value,Nationality)" class="form-control" />
                        <span asp-validation-for="Nationality" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Gender" class="control-label"></label>
                        <div class="row">
                            <label class="radio-inline">
                                <input asp-for="Gender" type="radio" value="Male" /> Male
                            </label>
                            <label class="radio-inline">
                                <input asp-for="Gender" type="radio" value="Female" /> Female
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" onblur="namevalidation('Address',this.value,Address)" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="ParentName" class="control-label"></label>
                        <input asp-for="ParentName" onblur="namevalidation('Parent Name',this.value,ParentName)" class="form-control" />
                        <span asp-validation-for="ParentName" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4">
                        <label asp-for="ParentMobile" class="control-label"></label>
                        <input asp-for="ParentMobile" onblur="namevalidation('Mobile Number',this.value,ParentMobile)" class="form-control" />
                        <span asp-validation-for="ParentMobile" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="ParentWhatsappNo" class="control-label"></label>
                        <input asp-for="ParentWhatsappNo" onblur="namevalidation('Parent Whatsapp Number',this.value,ParentWhatsappNo)" class="form-control" />
                        <span asp-validation-for="ParentName" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4">
                        <label asp-for="EmailId" class="control-label"></label>
                        <input asp-for="EmailId" onblur="namevalidation('Email ID',this.value,EmailId)" class="form-control" />
                        <span asp-validation-for="EmailId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Qualification" class="control-label"></label>
                        <input asp-for="Qualification" onblur="namevalidation('Qualification',this.value,EmailId)" class="form-control" />
                        <span asp-validation-for="Qualification" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4">
                        <label asp-for="Occupation" class="control-label"></label>
                        <input asp-for="Occupation" onblur="namevalidation('Occution',this.value,Occupation)" class="form-control" />
                        <span asp-validation-for="EmailId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="MotherName" class="control-label"></label>
                        <input asp-for="MotherName" onblur="namevalidation('Mother Name',this.value,MotherName)" class="form-control" />
                        <span asp-validation-for="MotherName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="MotherPhone" class="control-label"></label>
                        <input asp-for="MotherPhone" onblur="namevalidation('Mother Phone number',this.value,MotherPhone)" class="form-control" />
                        <span asp-validation-for="MotherPhone" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="MotherWhatsapp" class="control-label"></label>
                        <input asp-for="MotherWhatsapp" onblur="namevalidation('Mother Whatsapp number',this.value,MotherWhatsapp)" class="form-control" />
                        <span asp-validation-for="MotherWhatsapp" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="MotherQualification" class="control-label"></label>
                        <input asp-for="MotherQualification" onblur="namevalidation('Mother Qualification',this.value,MotherQualification)" class="form-control" />
                        <span asp-validation-for="MotherQualification" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="MotherOccu" class="control-label"></label>
                        <input asp-for="MotherOccu" onblur="namevalidation('Mother Occupation',this.value,MotherOccu)" class="form-control" />
                        <span asp-validation-for="MotherOccu" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="StdId" class="control-label"></label>

                        <select asp-for="StdId" onblur="namevalidation('Standard',this.value,StdId)" class="form-control" asp-items="ViewBag.StdId">
                            <option>Please select one</option>

                        </select>
                        <span asp-validation-for="StdId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="FeeYear" class="control-label"></label>
                        <select asp-for="FeeYear" class="form-control" onblur="namevalidation('Fee Year',this.value,FeeYear)" onchange="getFTID()" asp-items="@ViewBag.Feeyear">
                            <option>Please select one</option>
                        </select>
                        @*<input asp-for="FeeYear"  class="form-control" />*@
                        <span asp-validation-for="FeeYear" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="FTId" class="control-label"></label>
                        @if (ViewData["FTId"] != null)
                        {
                            <select asp-for="FTId" onblur="namevalidation('Year',this.value,FTId)" class="form-control" onchange="termselected()" asp-items="@ViewBag.FTId">
                                <option>Please select one</option>
                            </select>
                        }
                        else
                        {
                            <select asp-for="FTId" onblur="namevalidation('Year',this.value,FTId)" class="form-control" onchange="termselected()">
                                <option>Please select one</option>
                            </select>
                        }

                        <span asp-validation-for="FTId" class="text-danger"></span>
                    </div>
                    <div id="result" class="form-group col-md-12">

                    </div>
                    <div class="form-group col-md-12">
                        <input onclick="return storecheck()" type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="existing">

    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
