@model myschooldbapplication.Models.ViewModel.ListModel

<script>
    function submitform(value) {
        $("#AdId").val(value);
        $("#frmstudent").submit();
    }
</script>
<div>
    <div class="container">
        <form asp-action="Searchadmnupdate" asp-controller="Enrollment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
            <div class="col-md-5">
                <label asp-for="UserSearch.St_Name" class="control-label col-md-5"></label>

                <input asp-for="UserSearch.St_Name" class="form-control col-md-7" />
                <span asp-validation-for="UserSearch.St_Name" class="text-danger"></span>
            </div>
             </div>
            <div class="row">
                <div class="col-md-5">

                    <button  type="submit" class="btn btn-default">Search</button>

                </div>
            </div>
        </form>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model.EnrollModels != null)
{
    <form id="frmstudent" asp-action="selectadmission" asp-controller="Enrollment">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        AdmissionID
                    </th>
                    <th>
                        Student NAme
                    </th>
                    <th>
                        Standard
                    </th>
                    <th>
                        Parent Name
                    </th>
                    <th>
                        Mother Name
                    </th>

                </tr>
            </thead>
            <tbody>


                <input type="hidden" asp-for="AdId" />
                <input type="hidden" asp-for="ctrl1" value="1" />
                @foreach (var item in Model.EnrollModels)
                {
                    <tr>
                        <td>

                            <input name="choice" asp-for="AdId" value="@item.AdId" type="radio" onchange="submitform(this.value)" />



                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.AdId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MotherName)
                        </td>

                      
                    </tr>
                }

            </tbody>
        </table>
    </form>
    if (ViewBag.studentdiv != null)
    {
        <div>
            @await Html.PartialAsync("updatefee", Model)
        </div>
    }





}
@if (ViewBag.display == "div4")

{
    <form id="frmad" target="_blank" asp-controller="Admission" asp-route-ID1="@ViewBag.ADID" asp-action="printreceipt">
        <h1 style="color:green">Record updated successfully for admission ID @ViewBag.ADID</h1>
        <button type="submit">print receipt</button>
    </form>
}

