@model myschooldbapplication.Models.FeeType

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>FeeType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Feetype1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Feetype1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FeeYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FeeYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalFees)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalFees)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FTId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
